@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-oat-50 text-blueberry-900 antialiased overflow-x-hidden;
    font-family: 'Geist', sans-serif;
  }
}

@layer components {
  .pulse-dot {
    @apply relative flex h-2 w-2;
  }

  .pulse-dot::before {
    content: '';
    @apply absolute inline-flex h-full w-full animate-ping rounded-full bg-blueberry-500 opacity-75;
  }

  .pulse-dot::after {
    content: '';
    @apply relative inline-flex h-2 w-2 rounded-full bg-blueberry-500;
  }
}