---
export const prerender = false;
---
<html>
  <body>
    <h1>PIPELINE_STABILITY_TEST_SUCCESS</h1>
    <p>If you see this, the GitHub Action is working. Re-introducing UI now...</p>
  </body>
</html>
