---
export const prerender = false;
import Layout from '../layouts/Layout.astro';
---

<Layout title="Layout Test">
  <div class="py-20 text-center">
    <h1 class="text-3xl font-bold">LAYOUT_COMPONENT_SUCCESS</h1>
  </div>
</Layout>
